/* Property Gallery Styles */
.property-gallery {
  width: 100%;
  margin-bottom: 2rem;
}

.property-gallery .image-gallery {
  width: 100%;
}

.property-gallery .image-gallery-slide img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 16px;
}

.property-gallery .image-gallery-thumbnail img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.property-gallery .image-gallery-thumbnail.active,
.property-gallery .image-gallery-thumbnail:hover {
  border: 3px solid #667eea;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .property-gallery .image-gallery-slide img {
    height: 550px;
  }

  .property-gallery .image-gallery-thumbnail img {
    height: 90px;
  }
}

@media (max-width: 768px) {
  .property-gallery .image-gallery-slide img {
    height: 300px;
  }

  .property-gallery .image-gallery-thumbnail img {
    height: 50px;
  }
}

